@import (reference) url('../../styles/variables.less');

.app-container {
    min-height: 100vh;
    background-color: @white;

    .navbar-container {
        background: transparent;
        border-bottom: 1px solid @border-color;
        padding: 13px 24px 13px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar {
        background: @white;
        border-right: 1px solid @border-color;

        .sidebar-menu {
            margin: 4px;
            background: transparent;
            border-inline-end: initial;
        }
    }
    .ant-layout-content {
        height: calc(100vh - 96px);
        padding: 16px;
        overflow-y: auto;
    }
}
